<%- include('./parts/header.ejs') %> <%- include('./parts/navbar.ejs') %>

<div class="container-sm">
  <%if (validationErrors) {%>
    <h3 class="alert alert-danger mt-3 text-center"><%= validationErrors.msg%></h3>
    <%}%>
  <%if (items.length === 0) {%>
  <p class="alert alert-danger">There is no items in your cart!</p>
  <%} else {%>
  <table class="table table-striped">
    <thead>
      <td>no</td>
      <td>Product name</td>
      <td>Price</td>
      <td>Amount</td>
      <td>Totale</td>
      <td></td>
    </thead>
    <tbody>
      <% for( i = 0; i < items.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= items[i].name %></td>
        <td><%= items[i].price %> $</td>
        <form method="post">
          <td>
            <input
              type="text"
              name="amount"
              class="form-control"
              value="<%= items[i].amount %>"
            />
          </td>
          <td><%= items[i].price * items[i].amount%> $</td>
          <td>
            <input type="hidden" name="cartId" value="<%= items[i]._id %>" />
            <input
              type="submit"
              class="btn btn-success"
              value="save"
              formaction="/cart/save"
            />
            <input
              type="submit"
              class="btn btn-danger"
              value="Delete"
              formaction="/cart/delete"
            />
          </td>
        </form>
      </tr>
      <%}%>
    </tbody>
  </table>
  <%}%>
</div>

<%-include('./parts/footer.ejs') %>
